@{
    ViewBag.Title = "SmartBin Manager";
}

<div class="jumbotron">
    <h1>SmartBin Manager</h1>
    <p class="lead">SmartBin Manager SmartBin Manager SmartBin Manager SmartBin Manager SmartBin Manager SmartBin Manager.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>
        <object width="640" height="385">

            @*<iframe width="854" height="480" src="https://www.youtube.com/embed/0RsZxaoHAO4" frameborder="0" allowfullscreen></iframe>*@
            <embed src="https://www.youtube.com/embed/0RsZxaoHAO4"
                   @*type="application/x-shockwave-flash"*@
                   allowscriptaccess="always"
                   allowfullscreen="true"
                   @*width="640"
                   height="385"*@>
            </embed>
        </object>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
       
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
       
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        
    </div>
  

</div>