

@model IEnumerable<SmartBinManager.Models.BasketLineViewModel>
@{
    ViewBag.Title = "SmartBins";
}

<p>Lists the SmartBin associated with the Customer</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
          
        </tr>
    }
</table>

